<header>
    <h3>Employee Type(s)</h3>
    <button mat-raised-button color="primary" routerLink="/dashboard/masters/employee-type/add">Add Employee Type</button>
</header>
<mat-divider></mat-divider>
<h4 *ngIf="!types[0]">No Employee Type Added</h4>
<table mat-table [dataSource]="types" class="mat-elevation-z5" *ngIf="types[0]">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
    </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Employee Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef>Operation</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" [routerLink]="['/dashboard/masters/employee-type/edit', element.id]" matTooltip="Edit" matTooltipPosition="left"><mat-icon>edit</mat-icon></button> / <button mat-icon-button color="warn" (click)="onDeleteEmployeeType(element.id)" matTooltip="Delete" matTooltipPosition="right"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>