<header>
    <h3>Medical Test(s)</h3>
    <button mat-raised-button color="primary" routerLink="/dashboard/masters/medical-test/add">Add Medical Test</button>
</header>
<mat-divider></mat-divider>
<h4 *ngIf="!medical_tests[0]">No Medical Test Added</h4>
<table mat-table [dataSource]="medical_tests" class="mat-elevation-z5" *ngIf="medical_tests[0]">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="test_name">
        <th mat-header-cell *matHeaderCellDef> Test Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="profile_name">
        <th mat-header-cell *matHeaderCellDef> Profile Name </th>
        <td mat-cell *matCellDef="let element"> {{element.related_profile.name}} </td>
    </ng-container>
    <ng-container matColumnDef="test_min_value">
        <th mat-header-cell *matHeaderCellDef> Min Value </th>
        <td mat-cell *matCellDef="let element"> {{element.normal_min_value}} </td>
    </ng-container>
    <ng-container matColumnDef="test_max_value">
        <th mat-header-cell *matHeaderCellDef> Max value </th>
        <td mat-cell *matCellDef="let element"> {{element.normal_max_value}} </td>
    </ng-container>
    <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef>Operation</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" matTooltip="Edit"
           [routerLink]="['/dashboard/masters/medical-test/edit', element.id]" matTooltipPosition="left">
           <mat-icon>edit</mat-icon></button>
        </td>
    </ng-container>
    <ng-container matColumnDef="isdeleted">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle (click)="deleteMedicalTest(element.id, element.is_deleted)" [checked]="!element.is_deleted" color="warn"></mat-slide-toggle>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>