<app-prompt [message]="message" *ngIf="showPrompt" (submit)="closePrompt($event)" [@enterAnimation]></app-prompt>
<header>
    <h3>Organisation(s)</h3>
    <button mat-raised-button color="primary" routerLink="/dashboard/masters/organisation/add">Add Organisation</button>
</header>
<mat-divider></mat-divider>
<h4 *ngIf="!organisations[0]">No Employee Type Added</h4>
<table mat-table [dataSource]="organisations" class="mat-elevation-z5" *ngIf="organisations[0]">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="organisation">
        <th mat-header-cell *matHeaderCellDef> Organisation </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef> District </th>
        <td mat-cell *matCellDef="let element"> {{element.related_district.name}} </td>
    </ng-container>
    <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef>Operation</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" [routerLink]="['/dashboard/masters/organisation/edit', element.id]" matTooltip="Edit" matTooltipPosition="left"><mat-icon>edit</mat-icon></button> / <button mat-icon-button color="warn" matTooltip="Delete" matTooltipPosition="right" (click)="openPrompt(element.id, element.name)"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
