ul{
    list-style: none;
    width: 84%;
}
li{
    margin-left: -38px;
    margin-top: 8px;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    user-select: none;
    transition: all 0.3s ease;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
li:hover,
li.active{
    background-color: #F2F4FF;
    color: #3f51b5;
}
mat-label{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-label span,
mat-label mat-icon{
    margin-left: 1rem;
}
mat-label span{
    font-size: 18px;
}