ul{
    list-style: none;
    width: 84%;
}
.menu-item, .sub-menu-item{
    margin-left: -38px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    user-select: none;
}
.sub-menu{
    background-color: #FCFCFC;
    width: 100%;
    margin-left: -28px;
    max-height: 0;
    opacity: 1;
    width: 96%;
    overflow: hidden;
    transition: all 0.2s ease;
}
.sub-menu.active{
    max-height: 100vh;
    transition: all 1s ease;
}
.sub-menu .sub-menu-item{
    margin-top: 0.1rem;
    border-radius: 20px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.sub-menu-item{
    padding: 0.6rem;
}
.icon-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}
label{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}
.icon-links mat-icon{
    transition: all 0.3s ease;
}
.i:hover,
.i.active,
.sub-menu .sub-menu-item:hover,
.sub-menu .sub-menu-item.active{
    background-color: #F2F4FF;
    color: #3f51b5;
}
mat-label{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-label span,
mat-label mat-icon,
label span{
    margin-left: 1rem;
}
label mat-icon{
    margin-left: 2rem;
}
mat-label span{
    font-size: 18px;
}
.icon.active mat-icon{
    rotate: 180deg;
}