<ul class="menu">
    <li class="menu-item i" routerLink="/dashboard/home" (click)="onToggleKey('home')" routerLinkActive="active">
        <div class="icon-links">
            <mat-label>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </mat-label>
        </div>
    </li>
    <li class="menu-item">
        <div class="icon-links" (click)="onSubMenuToggle(elem1,elem2,'masters')">
            <mat-label>
                <mat-icon>space_dashboard</mat-icon>
                <span>Masters</span>
            </mat-label>
            <div class="icon" #elem1 [ngClass]="{'active': toggleKey === 'masters', '': toggleKey !== 'masters' && toggle}">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </div>
        </div>
        <ul class="sub-menu" #elem2 [ngClass]="{'active': toggleKey === 'masters', '': toggleKey !== 'masters' && toggle}">
            <li class="sub-menu-item" routerLink="/dashboard/masters/district" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>place</mat-icon>
                    <span>District</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/organisation" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>domain</mat-icon>
                    <span>Organisation</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/empgroup" routerLinkActive="active">
                <label>
                    <mat-icon>assignment_ind</mat-icon>
                    <span>Emp Group</span>
                </label>
            </li>
         
            <li class="sub-menu-item" routerLink="/dashboard/masters/section" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>meeting_room</mat-icon>
                    <span>Section</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/employee-type" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>assignment_ind</mat-icon>
                    <span>Employee Type</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/designation" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>card_membership</mat-icon>
                    <span>Designation</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/medical-test-profile/view" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>colorize</mat-icon>
                    <span>Test Profile</span>
                </label>
            </li>

            <li class="sub-menu-item" routerLink="/dashboard/masters/medical-test/view" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>fingerprint</mat-icon>
                    <span>Medical Test</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/employee-type" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>assignment_ind</mat-icon>
                    <span>Employee Type</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/employee" routerLinkActive="active" (click)="onToggleKey('masters')">
                <label>
                    <mat-icon>person</mat-icon>
                    <span>Employee</span>
                </label>
            </li>
        </ul>
    </li>
</ul>