<ul class="menu">
    <li class="menu-item i" routerLink="/dashboard/home" routerLinkActive="active">
        <div class="icon-links">
            <mat-label>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </mat-label>
        </div>
    </li>
    <li class="menu-item">
        <div class="icon-links" (click)="onSubMenuToggle(elem1,elem2)">
            <mat-label>
                <mat-icon>space_dashboard</mat-icon>
                <span>Masters</span>
            </mat-label>
            <div class="icon" #elem1 [ngClass]="{'active': toggleKey === 'masters'}">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </div>
        </div>
        <ul class="sub-menu" #elem2 [ngClass]="{'active': toggleKey === 'masters'}">
            <li class="sub-menu-item" routerLink="/dashboard/masters/district" routerLinkActive="active">
                <label>
                    <mat-icon>domain</mat-icon>
                    <span>District</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/employee" routerLinkActive="active">
                <label>
                    <mat-icon>person</mat-icon>
                    <span>Employee</span>
                </label>
            </li>
            <li class="sub-menu-item" routerLink="/dashboard/masters/employee-type" routerLinkActive="active">
                <label>
                    <mat-icon>person</mat-icon>
                    <span>Employee Type</span>
                </label>
            </li>
        </ul>
    </li>
</ul>