<main *ngIf="details">
<section>
    <div class="row">
        <mat-label><b>Employee Name : </b> {{details.name}}</mat-label><br><br>
        <mat-label><b>Year : </b>{{details.year}}</mat-label><br><br>
        <mat-label><b>Session : </b>{{details.medical_test_session}}</mat-label><br><br>
        <mat-label><b>Patient Remarks : </b>{{details.patient_remarks}}</mat-label><br><br>
    </div>
    <div class="row">
      <mat-label><b>Location : </b>{{details.location}}</mat-label><br><br>
      <mat-label><b>Ref. Doctor : </b>{{details.ref_doctor}}</mat-label><br><br>
      <mat-label><b>Sample Type : </b>{{details.sample_type}}</mat-label><br><br>
      <mat-label><b>Reports : </b><a (click)="openPrompt()" style="color: #3f51b5; text-decoration: underline;cursor: pointer">View Reports</a></mat-label><br><br>
    </div>
    <div class="row">
        <mat-label><b>Sample Collection Date : </b>{{details.collection_date}}</mat-label><br><br>
        <mat-label><b>Sample Registration Date : </b>{{details.registration_date}}</mat-label><br><br>
        <mat-label><b>Analyst : </b>{{details.analyst}}</mat-label><br><br>
        <mat-label></mat-label><br><br>
    </div>
</section>
<mat-divider></mat-divider>
<div class="tests" *ngIf="details.test_details">
    <div *ngFor="let t of details.test_details">
    <h3>PROFILE: {{t.profile_name}}</h3>
    <table mat-table [dataSource]="t.test_details">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> S.No. </th>
          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="test_name">
          <th mat-header-cell *matHeaderCellDef> Test </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="results">
          <th mat-header-cell *matHeaderCellDef> Result </th>
          <td mat-cell *matCellDef="let element">{{element.value}} {{element.unit}}</td>
        </ng-container>
        <ng-container matColumnDef="range">
          <th mat-header-cell *matHeaderCellDef> Normal Range </th>
          <td mat-cell *matCellDef="let element"> {{element.normal_min_value}} - {{element.normal_max_value}} {{element.unit}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
</main>
<app-reports-prompt [reports]="reports" *ngIf="showPrompt" (submit)="closePrompt($event)" [@enterAnimation]></app-reports-prompt>

