main{
    padding-left: 20rem;
    padding-right: 20rem;
    margin-top: 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
mat-form-field{
    width: 100%;
    margin-left: 1rem;
}
.textarea{
    width: 100%;
}
button{
    float: right;
}
mat-error{
    margin-left: -13px;
    margin-top: 3px;
}
@media (max-width: 1514px) {
    main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width: 847px) {
    .row{
        display: block;
    }
    mat-form-field{
        margin:auto;
    }
}