section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F2F4FF;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.inputs{
    margin-top: 3rem;
}
mat-card{
    width: 21%;
    padding: 1.5rem;
    border-radius: 15px;
}
mat-form-field,button{
    width: 100%;
}
mat-error{
    margin-top: 5px;
    margin-left: -10px;
}
.submit{
    margin-top: 1rem;
}
.submit mat-label{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit mat-label mat-spinner::ng-deep circle{
    stroke: white !important;
}
.submit mat-label span{
    margin-left: 1rem;
}
@media(max-width: 1261px){
    mat-card{
        width: 30%;
    }
}
@media(max-width: 1000px){
    mat-card{
        width: 40%;
    }
}
@media(max-width: 800px){
    mat-card{
        width: 50%;
    }
}
@media(max-width: 600px){
    mat-card{
        width: 80%;
    }
}