.backdrop{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 50;
    top:3.6rem;
    left: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2{
    margin-left: 1.5rem;
}
mat-card{
    width: 35%;
    position: fixed;
    top: 40vh;
    left: 40vw;
    z-index: 100;
    padding: 0.6rem;
    border-radius: 8px;
}
mat-card-content{
    margin-top: 1.2rem;
    margin-bottom: 3rem;
}
mat-label{
    font-size: 1.1rem;
}
button{
    float: right;
}
footer{
    padding: 0.7rem;
}
@media(max-width: 1261px) {
    mat-card{
        width: 40%;
        left: 30vw;
    }
}
@media(max-width: 1000px) {
    mat-card{
        width: 50%;
        left: 25vw;
    }
}
@media(max-width: 800px) {
    mat-card{
        width: 60%;
        left: 20vw;
    }
}
@media(max-width: 525px) {
    mat-card{
        width: 90%;
        left: 5vw;
    }
}