<section>
    <h3>{{ editMode ? 'Edit District' : 'Add District'}}</h3>
    <mat-divider></mat-divider>
    <form #district="ngForm" (ngSubmit)="onSubmit(district)">
        <div class="content">
            <mat-label>District:</mat-label>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Placeholder" name="name" [ngModel]="district_name" #name="ngModel" required>
                <mat-error>Please enter district name</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">{{editMode ? 'Update' : 'Add'}}</button>
        </div>
    </form>
</section>
