<section>
    <h3>{{ editMode ? 'Edit Section' : 'Add Section'}}</h3>
    <mat-divider></mat-divider>
    <form #section="ngForm" (ngSubmit)="onSubmit(section)">
        <div class="content">
            <mat-form-field appearance="outline" name="name" [ngModel]="section_name" #name="ngModel">
                <mat-label> Section Name</mat-label>
                <input matInput placeholder="Section Name">
              </mat-form-field>
            <button mat-raised-button color="primary" type="submit">{{editMode ? 'Update' : 'Add'}}</button>
        </div>
    </form>
</section>
