main{
    padding-left: 17rem;
    padding-right: 17rem;
    margin-top: 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
mat-form-field{
    width: 100%;
    margin-left: 1rem;
}
button{
    float: right;
}