<mat-stepper linear #stepper>
  
    <mat-step [stepControl]="firstForm.control" label="Employee">
      <form #firstForm="ngForm" (ngSubmit)="onSaveDraft(firstForm)">
        <section>
          <div class="row">
            <mat-form-field>
              <mat-label>Year</mat-label>
              <input matInput type="text" [value]="date.getFullYear()" disabled>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Session</mat-label>
              <mat-select name="session" ngModel #session="ngModel" required (selectionChange)="getTests($event)">
                <mat-option *ngFor="let s of sessions" [value]="s.id" >{{s.session}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <mat-label> Employee</mat-label>
              <input type="text"
                    matInput
                    [matAutocomplete]="auto"
                    (keyup)="onSearchEmployee(emp_key.value)"
                    name="emp_key"
                    [ngModel]="employee.name"
                    #emp_key="ngModel"
                    required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let emp of filteredEmployees | async" [value]="emp.id" (click)="onSelectEmployee({id: emp.id, name: emp.name})">
                  {{emp.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Location</mat-label>
              <input matInput type="text" name="location" ngModel #location="ngModel">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <mat-label>Sample Collection Date</mat-label>
              <input matInput [matDatepicker]="picker1" name="collection_date" ngModel #collection_date="ngModel" required>
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Sample Registration Date</mat-label>
              <input matInput [matDatepicker]="picker2" name="registration_date" ngModel #registration_date="ngModel" required>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <mat-label>Ref. Dr.</mat-label>
              <input matInput type="text" name="ref_doctor" ngModel #ref_doctor="ngModel">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Analyst</mat-label>
              <input matInput type="text" name="analyst" ngModel #analyst="ngModel">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
        </section>
      </form>
    </mat-step>
    <mat-step label="Health Records" [stepControl]="secondForm.control">
      <form #secondForm="ngForm" (ngSubmit)="addTestDetails(secondForm)">
      <div *ngFor="let r of tests">
        <h4>PROFILE: {{r.related_test_profile.name}}</h4>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="r.related_test_profile.related_tests">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> S.No. </th>
            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="test_name">
            <th mat-header-cell *matHeaderCellDef> Test </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Result </th>
            <td mat-cell *matCellDef="let element">
                <input style="width:15%" type="number" required ngModel [name]="element.id"> {{ element.unit }}
            </td>
          </ng-container>
          <ng-container matColumnDef="range">
            <th mat-header-cell *matHeaderCellDef> Normal Range </th>
            <td mat-cell *matCellDef="let element"> {{element.normal_min_value}} - {{element.normal_max_value}} {{element.unit}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
      </form>
    </mat-step>
  <mat-step label="Preview">
    <section class="preview">
      <app-preview [details]="employee_details"></app-preview>
      <button mat-raised-button color="primary" matStepperNext type="submit" (click)="onSubmitTestDetails()">Next</button>
    </section>
  </mat-step>
  <mat-step label="Done">
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>