<header>
    <h3>Employee(s)</h3>
    <button mat-raised-button color="primary" routerLink="/dashboard/masters/employee/add">Add Employee</button>
</header>
<mat-divider></mat-divider>
<h4 *ngIf="!employees[0]">No Employees Added</h4>
<table mat-table [dataSource]="employees" class="mat-elevation-z5" *ngIf="employees[0]">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="emp_name">
        <th mat-header-cell *matHeaderCellDef> Employee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
    </ng-container>
    <ng-container matColumnDef="emp_id">
        <th mat-header-cell *matHeaderCellDef> Employee ID </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_id}} </td>
    </ng-container>
    <ng-container matColumnDef="emp_org">
        <th mat-header-cell *matHeaderCellDef> Employee Organization </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_organization}} </td>
    </ng-container>
    <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef>Operation</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" matTooltip="Edit" [routerLink]="['/dashboard/masters/employee/edit', element.id]" matTooltipPosition="left"><mat-icon>edit</mat-icon></button> / <button mat-icon-button color="warn" matTooltip="Delete" (click)="onDeleteEmployee()" matTooltipPosition="right"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>