mat-sidenav-container{
    height: 100%;
}
mat-sidenav{
    width: 260px;
}
header{
    height: 60px;
    background-color: #fff;
}
mat-icon{
    font-size: 2rem;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.body{
    padding: 1.5rem;
}